.tracklist{
    padding: 0 10px 0 10px;
    height: 120px;
    width: 100vw;
    border: 1px dotted gray;
    display: flex;
    .swiper-slide{
        border: 1px dotted black;
    }
    /*.track{
        height: 100px;
        width: 100px;
        cursor: grab;
        //-color: rgba($color: #000000, $alpha: 0.1);
        position: relative;
        .track__img{
            position: absolute;
            top: 0;
            z-index: 0;
        }
    }*/
}