.main-title{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    color: aliceblue;
}
.decks{
    //border: 1px dotted white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 96%;
    padding-left: 2vw;
    padding-right: 2vw;
    transition: all 0.3s;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.w-100{
    width: 100;
}
.h-100{
    height: 100;
}
.mixer-tracklist{
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    .dock-button{
        position: absolute;
        top: 5rem;
        width: 6rem;
        left: calc(50% - 3rem);
        padding: 0.2rem 0.2rem 0.4rem 0.2rem;
        z-index: 99;
        background-color: transparent;
        border-radius: 0;
        border: 1px solid orange;
        color: white;
        text-transform: uppercase;
        font-size: 0.85rem;
    }
}
.trackstoside-true{
    display: flex;
    .main-title{
        transform: translateX(-6%);
    }
    .dock-button{
        left: calc(45% - 3rem);
    }
}